<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Painel administrativo</title>


    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">  -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../resources/css/light-bootstrap-dashboard.css?v=2.0.0" rel="stylesheet" />

    <link href="../../resources/css/demo.css" rel="stylesheet" />
</head>
<body>
<div id="material" >
        <div class="modal fade top" id="modalMaterial" tabindex="-1" role="dialog" aria-labelledby="modalLinguagem" aria-hidden="true" data-backdrop='false'>
                <div class="modal-dialog modal-lg modal-frame modal-top" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="modalLinguagem">Cadastro de Material</h>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div >
                    <div class="modal-body">
                        <table>
                            <tr>
                              <td>Url Material:</td>
                              <td><input type="text" v-model="urlMaterial" name="nome" size="60"> <br/><br/></td>
                            </tr>
                            <tr>
                              <td>Título Material:</td>
                              <td><input type="text" v-model="tituloMaterial" name="nome" size="60"> <br/><br/></td>
                            </tr>
                            <tr>
                              <td>Assunto:</td>
                               <td><select v-model="assunto">
                                    <option v-for="option in listaAssunto" v-bind:value="option.idConteudo">
                                      {{ option.assunto }}
                                    </option>
                                  </select> <br/><br/></td>
                            </tr>
                            <tr>
                              <td>Mídia:</td>
                               <td><select v-model="midia">
                                    <option v-for="option in listaMidia" v-bind:value="option.idMidia">
                                      {{ option.nomeTipo }}
                                    </option>
                                  </select> <br/><br/></td>
                            </tr>
                             <tr>
                              <td>Linguagem:</td>
                               <td><select v-model="linguagem">
                                    <option v-for="option in listaLinguagem" v-bind:value="option.idLinguagem">
                                      {{ option.nomeLinguagem }}
                                    </option>
                                  </select> <br/><br/></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" @click="cadastra()">Salvar</button>
                    </div>
                </div>
                  </div>
                </div>
            </div> 
        <div  class="wrapper">
                <div id="menu"></div>
                <div class="main-panel">
                <div class="container" id="posicao">
                    <div class="tabela">
                            <button id="modalMaterial" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalMaterial">
                                    Novo Material    
                                </button>
                        <h2 style="text-align: center;">Material</h2>
                        <div >
                                <b-table :fields="headers" :items="material"
                                hover responsive> 
              
                              </b-table>
                              </div>
                       </div>
                 
                  </div>
                  </div>
                  </div>
                  </div>

                  <script src="../../resources/js/vue.js"></script>
                  <script src="../../resources/js/axios.min.js"></script>
                  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
                  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
                  <script src="../../resources/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
                  <script src="../../resources/js/core/popper.min.js" type="text/javascript"></script>
                  <script src="../../resources/js/core/bootstrap.min.js" type="text/javascript"></script>
                  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
                  <script src="../../resources/js/plugins/bootstrap-switch.js"></script>
                  <!--  Chartist Plugin  -->
                  <script src="../../resources/js/plugins/chartist.min.js"></script>
                  <!--  Notifications Plugin    -->
                  <script src="../../resources/js/plugins/bootstrap-notify.js"></script>
                  <!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
                  <script src="../../resources/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
                  <!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
                  <script src="../../resources/js/demo.js"></script>
                  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
                  <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
                  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script>

new Vue({
  el:'#material',
  vuetify: new Vuetify(),
  data () {
    return {
      search: '',
      headers: [
        {
          align: 'left',
          sortable: false,
          value: 'posicao',
        },
        { text: 'Url', value: 'urlMaterial' },
        { text: 'Titulo', value: 'tituloMaterial' },
        { text: 'Assunto', value: 'assunto' },
        { text: 'Descrição', value: 'desConteudo' },
        { text: 'Tipo', value: 'nomeTipo' },
        { text: 'Linguagem', value: 'nomeLinguagem' }
      ],
      material: [
          {
            urlMaterial: '',
            tituloMaterial:'',
            assunto:'',
            desConteudo:'',
            nomeTipo:'',
            nomeLinguagem:''
          }
      ],
      listaAssunto: [],
      listaMidia: [],
      listaLinguagem: [],
      urlMaterial: '',
      tituloMaterial: '',
      assunto:'',
      midia:'',
      linguagem:''


      
    }
  },
  created: function(){
    const vm = this;
    axios.get('../../rs/material/getAllMaterial').then(function(response) {
      vm.material = response.data;      
    });

    axios.get('../../rs/linguagem/todasLinguagens').then(function(response) {
      vm.listaLinguagem = response.data;      
    });

    axios.get('../../rs/midia/getAllMidia').then(function(response) {
      vm.listaMidia = response.data;      
    });

    axios.get('../../rs/assunto/getAllAssunto').then(function(response) {
      vm.listaAssunto = response.data;      
    });
  },
  methods : {
		cadastra : function() {
            const vm = this;
            let obj = {
                idMaterial: '',
                idConteudo: vm.assunto,
                idTipoMidia: vm.midia,
                urlMaterial: vm.urlMaterial,
                tituloMaterial: vm.tituloMaterial,
                idLinguagem: vm.linguagem,
                nomeLinguagem: '',
                descLinguagem: '',
                nomeTipo: '',
                idTipo: '',
                assunto: '',
                desConteudo: '',
            }
			axios.post('../../rs/material/insereMaterial', obj).then(function(response) {
                location.reload();
            });
		}
	}
});

     $(function(){
          $("#menu").load("../baseAdm.html"); // incluir conteúdo do menu.html na div com id #includedContent
        });    
    </script>
</body>
</html>