.imagemLevel{
    padding-left: 3%;
    padding-top: 5%;
} 

.imagem{
    padding: 20px;
    height: 130px;
    width:  130px;
}

div.box {
	width: 130px;
    display: inline-block;
    padding-bottom: 80px;
}

span {
    text-align: center;
}
