<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="apple-touch-icon" sizes="76x76"
	href="../resources/img/apple-icon.png">
<link rel="icon" type="image/png" href="../resources/img/favicon.ico">
<title>ProGame</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />


<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />

<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<link href="../resources/sass/lbd/notf.scss" rel="stylesheet" />

<link href="../resources/css/bootstrap.min.css" rel="stylesheet" />
<link href="../resources/css/light-bootstrap-dashboard.css?v=2.0.0 "
	rel="stylesheet" />
<link href="../resources/css/demo.css" rel="stylesheet" />
</head>
<body>
	<div class="sidebar" data-image="../resources/img/hero-bg.jpg"
		data-color="black">
		<!--
        	Cores barra laterak => data-color="purple | blue | green | orange | red"
    	-->
		<div class="sidebar-wrapper">
			<div class="logo">
				<a href="https://github.com/Eduardojvr/ProGame-PG"
					class="simple-text"> ProGame </a>
				<!-- <select>
					<option>Roxo</option>
					<option>Azul</option>


				</select> -->
			</div>
			<ul id="notifica" class="nav">
				<li class="nav-item"><a class="nav-link" href="perfil.html">
						<i class="nc-icon nc-circle-09"></i>
						<p>Perfil</p>
				</a></li>
				<li><a class="nav-link" href="ranking.html"> <i
						class="nc-icon nc-chart-bar-32"></i>
						<p>Ranking</p>
				</a></li>
				<li><a class="nav-link" href="narrativaQuiz.html"> <i
						class="nc-icon nc-chat-round"></i>
						<p>Modo Narrativa</p>
				</a></li>
				<li><a class="nav-link" href="batalha.html">
						<div id="notifica">
							<i class="nc-icon nc-controller-modern"></i> <span
								v-if="totalvs > 0" class="notificacao">{{ totalvs }}</span>
							<p>1 VS 1</p>
						</div>
				</a></li>
				<li><a class="nav-link" href="desafios.html"> <i
						class="nc-icon nc-puzzle-10 icon-bold"></i>
						<p>Desafios</p>
				</a></li>
				<li><a class="nav-link" href="progressivo.html"> <i
						class="nc-icon nc-spaceship"></i>
						<p>Modo progressivo</p>
				</a></li>
				<li><a class="nav-link" href="loja.html"> <i
						class="nc-icon nc-layers-3"></i>
						<p>Loja</p>
				</a></li>
				<li><a class="nav-link" href="material.html"> <i
						class="nc-icon nc-single-copy-04 icon-bold"></i>
						<p>Material</p>
				</a></li>
				<li><a class="nav-link" href="notificacoes.html"> <i
						class="nc-icon nc-bulb-63"></i> <span v-if="totalNotificacao > 0"
						class="notificacao">{{ totalNotificacao }}</span>
						<p>Notificações</p>
				</a></li>
			</ul>
			<div id="login" style="padding-left: 35%;">
				<label
					style="color: rgb(240, 37, 37); font-size: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
					@click="logout()">Sair</label>
			</div>
		</div>
	</div>

	<script src="../resources/js/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
	<script src="../resources/js/pages/login.js"></script>

	<script src="../resources/js/core/popper.min.js" type="text/javascript"></script>
	<script src="../resources/js/core/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="../resources/js/plugins/bootstrap-switch.js"></script>
	<script src="../resources/js/plugins/chartist.min.js"></script>
	<script src="../resources/js/plugins/bootstrap-notify.js"></script>
	<script src="../resources/js/light-bootstrap-dashboard.js?v=2.0.0 "
		type="text/javascript"></script>
	<script src="../resources/js/demo.js"></script>
	<script src="../resources/js/notifica.js"></script>

</body>
</html>