<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>ProGame</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
    <link rel="stylesheet" type="text/css" href="../resources/css/util.css">

</head>

<body>
    <button id="modalActivate" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalLinguagem">
        Nova Linguagem    
    </button>
      <div class="modal fade top" id="modalLinguagem" tabindex="-1" role="dialog" aria-labelledby="modalLinguagem" aria-hidden="true" data-backdrop='false'>
        <div class="modal-dialog modal-lg modal-frame modal-top" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLinguagem">Cadastro de Linguagem</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="linguagem">
            <div class="modal-body">
                <table>
                    <tr>
                      <td>Nome da linguagem:</td>
                      <td><input type="text" v-model="nomeLinguagem" name="nome" size="60"> <br/><br/></td>
                    </tr>
                    <tr>
                      <td>Descrição:</td>
                      <td><textarea name="descricao" v-model="descLinguagem" rows="5" cols="60"></textarea><br/></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" @click="cadastra()">Salvar</button>
            </div>
        </div>
          </div>
        </div>
    </div> 

    <script src="../resources/lib/jquery/jquery.min.js"></script>
  <script src="../resources/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../resources/lib/superfish/hoverIntent.js"></script>
  <script src="../resources/lib/superfish/superfish.min.js"></script>
  <script src="../resources/lib/morphext/morphext.min.js"></script>
  <script src="../resources/lib/wow/wow.min.js"></script>
  <script src="../resources/lib/stickyjs/sticky.js"></script>
  <script src="../resources/lib/easing/easing.js"></script>

  <script src="../resources/js/custom.js"></script>

  <script src="../contactform/contactform.js"></script>

  <script src="../resources/js/axios.min.js"></script>
  <script src="../resources/js/vue.js"></script>
  <script src="../resources/js/header.js"></script>
  <script src="../resources/js/loader.js"></script>
  <script src="../resources/js/footer.js"></script>
  <script src="../resources/js/jquery-3.3.1.min.js"></script>
  <script src="../resources/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../resources/js/ie10-viewport-bug-workaround.js"></script>
  <script src="../resources/js/pages/linguagem.js"></script>


</body>

</html>


