<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
<div id="desafio">
	<div class="wrapper">
		<div id="menu"></div>
		<div class="main-panel" id="gerenciapersonagem">
			<div class="container" id="posicao">
				<div style="text-align: center;">
          <h1>Desafios</h1>
          <hr>
          <div v-for="item in desafios" style="padding-right: 20%; padding-left: 20%;">
              <div class="card bg-secondary mb-3" style="max-width: 450rem; border-radius: 10px;">
                <div style="text-align: center;">
                  <!-- <img class="card-img-top" src="../resources/img/codigo.png" style="height: 200px; width: 200px;" alt="Card image cap"> -->
                </div>
                <div class="card-body col=3">
                  <p class="card-text" style="font-family: 'Courier New', Courier, monospace; color: white;">{{ item.desafio }}</p>
                   <label v-if="item.correcao === 'Errado'" style="color: rgb(224, 40, 7);">Incorreto</label><br>
                   <label v-if="item.correcao === 'Correto'" style="color: rgb(7, 224, 54);">Correto</label><br>
                   <label v-if="item.correcao === 'Sem avaliacao'" style="color: rgb(0, 84, 139);">Responder</label>

                </div>
              </div>
          </div>
        </div>	
      </div>
    </div>
  </div>
</div>
        
  <script src="../resources/js/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="../resources/js/core/jquery.3.2.1.min.js"
		type="text/javascript"></script>

	<script> 

    new Vue({
      el:'#desafio',
      data:{
        desafios: [
        {
          idDesafio: '',
          desafio: '',
          idResposta: '',
          matricula:'Sem matricula',
          resposta:'Sem resposta',
          correcaoAvaliador:'Sem avaliacao'
        }
      ]
      },
      created: function(){
        const vm = this;
        vm.getAllDesafios();
      },
      methods : {
        getAllDesafios : function(){
          const vm = this;
          axios.get('../rs/desafio/desafioProgramado').then(function(response){
            vm.desafios = response.data;
            console.log(vm.desafios);
          });
        }
      }


    });


                $(function(){
                  $("#menu").load("base.html");
                });
        </script>

</body>
</html>