
<!DOCTYPE html>

<html lang="pt-br">

<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	href="../resources/img/apple-icon.png">
<link rel="icon" type="image/png" href="../resources/img/favicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />

<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<link href="../resources/css/bootstrap.min.css" rel="stylesheet" />
<link href="../resources/css/light-bootstrap-dashboard.css?v=2.0.0 "
	rel="stylesheet" />
<link href="../resources/css/demo.css" rel="stylesheet" />

<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
	rel="stylesheet">

<link type="text/css" rel="stylesheet"
	href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet"
	href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
<link rel="stylesheet" href="../resources/css/inputs.css">

<style>
@font-face {
	font-family: 'pixel';
	/* src: url('../resources/fonts/PixelOperatorHB.ttf'); */
	src: url('../resources/fonts/PixelOperatorMono.ttf');
}

</style>

<head>
<body>
<div id="usuario">
		<div class="modal fade" id="edicao" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div id="usuario" class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 style="color: steelblue;" class="modal-title"
							id="myModalLabel">Edição de perfil</h3>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<label>Nome: </label><br>
						<input  size="40" 
							v-model="dados.nomeUsuario">
						<br>
						<br>
						<label>Email: </label><br>
						<input size="40" 
							v-model="dados.email">
						<br>
						<br>
						<span>Desativar perfil?</span>&nbsp;&nbsp;&nbsp;
						<input type="radio" v-model="dados.desativado" value="S"> Sim &nbsp;&nbsp;&nbsp;
						<input type="radio" v-model="dados.desativado" value="N"> Não
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" @click="salvar()">Salvar</button>
					</div>
				</div>
			</div>
		</div>

	<div class="modal fade right" id="modalRelatedContent" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div
			class="modal-dialog modal-side modal-bottom-right modal-notify modal-info"
			role="document">
			<div class="modal-content">

				<div class="modal-body"
					style="background-color: rgba(192, 192, 192, 0.5)">

					<div class="row">
						<div class="col-5">
							<img src="../resources/img/aisha.png" class="img-fluid" alt="">
						</div>

						<div class="col-7">
							<p>
								<strong>Olá, {{ nomeUsuario }}!</strong>
							</p>
							<p>Notamos que você ainda não escolheu seu guerreiro, faça
								isso clicando no botão abaixo!</p>
							<br>
							<div style="padding-left: 12%;">
								<button type="button" @click="redireciona('narrativa.html')"
									class="btn btn-info btn-md">Escolher jogador</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade right" id="sucessoAtualizaPerfil" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
	data-backdrop="static" data-keyboard="false">
	<div
		class="modal-dialog modal-side modal-bottom-right modal-notify modal-info"
		role="document">
		<div class="modal-content">

			<div class="modal-body"
				style="background-color: rgba(192, 192, 192, 0.5)">

				<div class="row">
					<div class="col-5">
						<img src="../resources/img/aisha.png" class="img-fluid" alt="">
					</div>

					<div class="col-7">
						<p>
							<strong>Olá, {{ nomeUsuario }}!</strong>
						</p>
						<p>Seus dados foram atualizados com sucesso!</p>
						<br>
						<div style="padding-left: 12%;">
							<button type="button" data-dismiss="modal"
								class="btn btn-info btn-md">Ok</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<div class="modal fade right" id="desativa" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
	data-backdrop="static" data-keyboard="false">
	<div
		class="modal-dialog modal-side modal-bottom-right modal-notify modal-info"
		role="document">
		<div class="modal-content">

			<div class="modal-body"
				style="background-color: rgba(192, 192, 192, 0.5)">

				<div class="row">
					<div class="col-5">
						<img src="../resources/img/aisha.png" class="img-fluid" alt="">
					</div>

					<div class="col-7">
						<p>
							<strong>Olá, {{ nomeUsuario }}!</strong>
						</p>
						<p>Seu perfil foi desativado com sucesso!<br>Caso queira reativar seu perfil, é só realizar o login novamente. Enquanto isso, você não receberá novos desafios e nem perderá sua pontuação atual.<br><br> Até breve!</p>
						<br>
						<div style="padding-left: 12%;">
							<button type="button" @click="logout()"
								class="btn btn-info btn-md">Ok</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


	<div class="modal fade right" id="reativado" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div
			class="modal-dialog modal-side modal-bottom-right modal-notify modal-info"
			role="document">
			<div class="modal-content">

				<div class="modal-body"
					style="background-color: rgba(192, 192, 192, 0.5)">

					<div class="row">
						<div class="col-5">
							<img src="../resources/img/aisha.png" class="img-fluid" alt="">
						</div>

						<div class="col-7">
							<p>
								<strong>Olá, {{ nomeUsuario }}!</strong>
							</p><br>
							<p>Seu perfil foi reativado com sucesso.</p>
							<br>
							<div style="padding-left: 12%;">
								<button type="button" onclick="location.reload()"
									class="btn btn-info btn-md">Ok</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade right" id="modalFeedback" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div
			class="modal-dialog modal-side modal-bottom-right modal-notify modal-info"
			role="document">
			<div class="modal-content">
				<div class="modal-body"
					style="background-color: rgba(192, 192, 192, 0.5)">

					<div class="row">
						<div class="col-5">
							<img src="../resources/img/aisha.png" class="img-fluid" alt="">
						</div>

						<div class="col-7">
							<p>
								<strong>Estamos felizes em tê-lo conosco!</strong>
							</p>
							<p>
								Seu guerreiro foi escolhido com sucesso. A partir de agora você
								pode utilizar todas as funcionalidades do sistema! <br> Bom
								jogo!
							</p>
							<br>
							<div style="padding-left: 12%;">
								<button type="button" onclick="location.reload()"
									class="btn btn-info btn-md">Ok</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade right" id="modalFeedbackBomJogo" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div
			class="modal-dialog modal-side modal-bottom-right modal-notify modal-info"
			role="document">
			<div class="modal-content">
				<div class="modal-body"
					style="background-color: rgba(192, 192, 192, 0.5)">

					<div class="row">
						<div class="col-5">
							<img src="../resources/img/aisha.png" class="img-fluid" alt="">
						</div>

						<div class="col-7">
							<p>
								<strong>Bom jogo!</strong>
							</p>
							<p>
								<br> Olá novamente jogador! Estávamos ansiosos para vê-lo
								novamente!<br>Divirta-se!
							</p>
							<br>
							<div style="padding-left: 12%;">
								<button type="button" onclick="location.reload()"
									class="btn btn-info btn-md">Ok</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="sidebar" data-image="../resources/img/hero-bg.jpg"
			data-color="black">
			<!--
        		Cores barra laterak => data-color="purple | blue | green | orange | red"
    		-->

			<div class="sidebar-wrapper">
				<div class="logo">
					<a href="https://github.com/Eduardojvr/ProGame-PG"
						class="simple-text"> ProGame </a>
				</div>
				<ul id="notifica" class="nav">
					<li class="nav-item"><a class="nav-link" href="perfil.html">
							<i class="nc-icon nc-circle-09"></i>
							<p>Perfil</p>
					</a></li>
					<li><a class="nav-link" href="ranking.html"> <i
							class="nc-icon nc-chart-bar-32"></i>
							<p>Ranking</p>
					</a></li>
					<li><a class="nav-link" href="narrativaQuiz.html"> <i
							class="nc-icon nc-chat-round"></i>
							<p>Modo Narrativa</p>
					</a></li>
					<li><a class="nav-link" href="batalha.html"> <i
							class="nc-icon nc-controller-modern"></i> <span
							v-if="totalvs > 0" class="notificacao">{{ totalvs }}</span>
							<p>1 VS 1</p>
					</a></li>
					<li><a class="nav-link" href="desafios.html"> <i
							class="nc-icon nc-puzzle-10 icon-bold"></i>
							<p>Desafios</p>
					</a></li>
					<li><a class="nav-link" href="progressivo.html"> <i
							class="nc-icon nc-spaceship"></i>
							<p>Modo progressivo</p>
					</a></li>
					<li><a class="nav-link" href="loja.html"> <i
							class="nc-icon nc-layers-3"></i>
							<p>Loja</p>
					</a></li>
					<li><a class="nav-link" href="material.html"> <i
							class="nc-icon nc-single-copy-04 icon-bold"></i>
							<p>Material</p>
					</a></li>
					<li><a class="nav-link" href="notificacoes.html"> <i
							class="nc-icon nc-bulb-63"></i> <span v-if="totalNotificacao > 0"
							class="notificacao">{{ totalNotificacao }}</span>
							<p>Notificações</p>
					</a></li>
				</ul>
				<div style="padding-left: 35%;">
					<label
						style="color: rgb(240, 37, 37); font-size: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
						@click="logout()">Sair</label>
				</div>
			</div>
		</div>

		<div class="main-panel">
			<div class="container" id="posicao">
				<div class="row" id="usuario">
					<div>
						<img v-bind:src="imgPersonagem"
							style="height: 290px; width: 280px;" alt=""
							class="img-rounded img-responsive" />
					</div>
					<div style="font-family: pixel; font-size: 20px;">
						</i></cite></small> <br> <br> <i class="glyphicon glyphicon-envelope"></i>Nome:
						<a style="font-family: pixel; font-size: 20px;">{{
							dados.nomeUsuario }}</a style="color: darkslateblue;"> <br> <i
							class="glyphicon glyphicon-envelope"></i>Email: <a
							style="font-family: pixel; font-size: 20px;">{{
							dados.email }}</a> <br /> <i class="glyphicon glyphicon-gift"></i>Matrícula:
						<a style="font-family: pixel; font-size: 20px;">{{
							dados.matricula }}</a> <br /> <i class="glyphicon glyphicon-gift"></i>Pontos:
						<a style="font-family: pixel; font-size: 20px;">{{
							dados.pontuacao }}</a> <br /> <i class="glyphicon glyphicon-gift"></i>Personagem:
						<a style="font-family: pixel; font-size: 20px;">{{
							dados.nomePersonagem }}</a> <br /> <i
							class="glyphicon glyphicon-gift"></i>Level: <a
							style="font-family: pixel; font-size: 20px;">{{
							dados.level }}</a><br><br>
							<a id="btn-edit" onclick="$('#edicao').modal('show')">Editar perfil</a>
					</div>
				</div>

			</div>
			<div class="content">
				<div class="container-fluid"></div>
				<div class="row">
					<div class="col-md-4">
						<div class="card ">
							<div class="card-header ">
								<h4 class="card-title">Desafios</h4>
								<p class="card-category">Módulo desafio</p>
							</div>
							<canvas id="myChart" width="600" height="400"></canvas>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card ">
							<div class="card-header ">
								<h4 class="card-title">Progresso Geral</h4>
								<br>
								<div class="progress">
									<div
										class="progress-bar progress-bar-striped progress-bar-animated"
										role="progressbar" faria-valuenow="{ progresso }"
										aria-valuemin="0" aria-valuemax="100"
										v-bind:style="{width:  progresso }">{{ progresso }}</div>
								</div>
								<br> <br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/vue.js"></script>
	<!-- <script src="../resources/js/pages/login.js"></script> -->

	<!-- <script src="../resources/js/pages/perfil.js"></script> -->
	<script src="../resources/js/core/jquery.3.2.1.min.js"
		type="text/javascript"></script>
	<script src="../resources/js/core/popper.min.js" type="text/javascript"></script>
	<script src="../resources/js/core/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="../resources/js/plugins/bootstrap-switch.js"></script>
	
	<script src="../resources/js/plugins/bootstrap-notify.js"></script>
	<script src="../resources/js/light-bootstrap-dashboard.js?v=2.0.0 "
		type="text/javascript"></script>
	<script src="../resources/js/demo.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	<script src="../resources/js/Chart.js"></script>
	<script src="../resources/js/Chart.bundle.js"></script>
	<script src="../resources/js/Chart.bundle.min.js"></script>
	<script src="../resources/js/Chart.min.js"></script>
	<script src="../resources/js/pages/perfil.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<script src="../resources/js/plugins/chartist.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
	<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
	<!-- <script src="../resources/js/notifica.js"></script> -->

	<script> 
        $(function(){
          $("#menu").load("base.html");
        });
	</script>

</body>
</html>