<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
    <link rel="stylesheet" type="text/css" href="../resources/css/util.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body  style="background-color:  rgb(17, 17, 17);">
  
    <div class="modal fade" id="modalCerto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-right: 20%; padding-top: 5%;">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="background-color: rgba(255, 255, 255, 0); border: rgba(255, 255, 255, 0);">
              <audio id="venceu" src="../resources/sons/levelup.mp3"></audio>
              <img src="../resources/img/levelUp.gif" alt="some text" width=800 height=500>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modalErrado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-right: 20%; padding-top: 4%;">
          <div class="modal-dialog" role="document">
              <div>
                  <h1 style="color:whitesmoke; padding-left: 160px;">Você foi derrotado!</h1>
                </div>
              <div class="modal-content">
                <audio id="perdeu" src="../resources/sons/perdeu.mp3"></audio>
                  <img src="../resources/img/feedback/orcWin.gif" alt="some text" width=800 height=450>
            </div>
          </div>
        </div>


      <div class="container-fluid" >
            <br><br> <br><br><br>
            <div id="quest">
              <div style="padding-left:33%;">
                <label id="pontuacao" style="color: whitesmoke;">Pontuação atual: {{ pontos }}</label>
              </div>    
                <!-- Tipo múltipla escolha -->
                <div class="modal-dialog"  v-if=" totalQuestaoMultipla > countQuestao && items[countQuestao].idTipoQuestao === '4'">
                  <div class="modal-content" >
                     <div class="modal-header">
                        <h3><span class="label label-warning" ></span> {{ items[countQuestao].questao }}</h3>
                    </div>
                    <div class="modal-body">
                        <div id="feedback"></div>
                      <div class="quiz" >
                       <label class="element-animation1 btn btn-lg btn-primary btn-block"><input type="radio"  name="q_answer"  style="display: none;">{{ items[countQuestao].respCorreta }}</label>
                       <label class="element-animation2 btn btn-lg btn-primary btn-block"><input type="radio"  name="q_answer"  style="display: none;">{{ items[countQuestao].respIncorreta1 }}</label>
                       <label class="element-animation3 btn btn-lg btn-primary btn-block"><input type="radio"  name="q_answer"  style="display: none;">{{ items[countQuestao].respIncorreta2 }}</label>
                       <label class="element-animation4 btn btn-lg btn-primary btn-block"><input type="radio"  name="q_answer"  style="display: none;">{{ items[countQuestao].respIncorreta3 }}</label>
                   </div>
               </div>
               <div style="padding-left: 33%; padding-top: 1%;">
                  <input type="image" src="../resources/img/icons/setaEsquerda.png" style="width: 80px; height: 80px;" @click="anterior()">
                    <input type="image" src="../resources/img/icons/setaDireita.png" style="width: 80px; height: 80px;" @click="proxima()">
                </div>  
            </div>
           
          </div>    
            <!-- Tipo Verdadeiro ou falso -->
            <div v-else-if=" totalQuestaoVF > countQuestaoVF && questaoTipoVF[countQuestaoVF].idTipoQuestao === '3' " class="modal-dialog">
                <div class="modal-content" >
                   <div class="modal-header">
                      <h3><span class="label label-warning" ></span> {{ questaoTipoVF[countQuestaoVF].questao }}</h3>
                  </div>
                  <div class="modal-body">
                      <div id="feedback"></div>
                    <div class="quiz" id="btVF">
                     <label class="element-animation1 btn btn-lg btn-primary btn-block"><input type="radio"  @click="verificaVF('Verdadeiro', countQuestaoVF)"  style="display: none;">Verdadeiro</label>
                     <label class="element-animation2 btn btn-lg btn-primary btn-block"><input type="radio"  @click="verificaVF('Falso', countQuestaoVF)"  style="display: none;">Falso</label>
                    </div>

             </div>
             <div style="padding-left: 33%; padding-top: 1%;">
                <input type="image" src="../resources/img/icons/setaEsquerda.png" style="width: 80px; height: 80px;" @click="anteriorVF()">
                  <input type="image" src="../resources/img/icons/setaDireita.png" style="width: 80px; height: 80px;" @click="proximaVF()">
              </div>  
          </div>
         
        </div> 
           <!-- Tipo Lacuna -->
           <div v-else-if=" totalQuestaoLacuna > countQuestaoLacuna && questaoTipoLacuna[countQuestaoLacuna].idTipoQuestao === '1' " class="modal-dialog">
              <div class="modal-content" >
                 <div class="modal-header">
                    <h3><span class="label label-warning" ></span> {{ questaoTipoLacuna[countQuestaoLacuna].questao }}</h3>
                  </div>
                  <input type="text" placeholder="Digite a resposta aqui" v-model="lacuna"  name="lacuna">
                  <div style="padding-top: 15px;">
                    <label class="element-animation2 btn btn-lg btn-primary btn-block"><input type="button"  name="q_answer"  style="display: none;" @click="verificaLacuna(lacuna, countQuestaoLacuna)">Responder</label>
                  </div>
                  <div id="feedback"></div>
              
           <div style="padding-left: 33%; padding-top: 1%;">
              <input type="image" src="../resources/img/icons/setaEsquerda.png" style="width: 80px; height: 80px;" @click="anteriorLacuna()">
                <input type="image" src="../resources/img/icons/setaDireita.png" style="width: 80px; height: 80px;" @click="proximaLacuna()">
            </div>  
        </div>
       
      </div> 
        <div style="text-align: center; padding-right:40px;" >
          <button type="button" class="btn btn-outline-danger" style="padding: 10px 50px 10px 50px;" onclick="window.location.assign('perfil.html')" >Sair</button>
        </div>
        </div>
          <!-- Tipo Ecolha multipla -->
          <!-- <div class="modal-dialog" id="quest">
              <div class="modal-content" >
                 <div class="modal-header">
                    <h3><span class="label label-warning" id="qid">{{ countQuestao+1 }} -</span> {{ items[countQuestao].questao }}</h3>
                </div>
                <div class="modal-body">
                  <div class="quiz" >
                   <label class="element-animation1 btn btn-lg btn-primary btn-block"><input type="radio"  name="q_answer"  style="display: none;">{{ items[countQuestao].respCorreta }}</label>
                   <label class="element-animation2 btn btn-lg btn-primary btn-block"><input type="radio"  name="q_answer"  style="display: none;">{{ items[countQuestao].respIncorreta1 }}</label>
                   <label class="element-animation3 btn btn-lg btn-primary btn-block"><input type="radio"  name="q_answer"  style="display: none;">{{ items[countQuestao].respIncorreta2 }}</label>
                   <label class="element-animation4 btn btn-lg btn-primary btn-block"><input type="radio"  name="q_answer"  style="display: none;">{{ items[countQuestao].respIncorreta3 }}</label>
               </div>
           </div>
           <div style="padding-left: 33%; padding-top: 1%;">
              <input type="image" src="../resources/img/icons/setaEsquerda.png" style="width: 80px; height: 80px;" @click="anterior()">
                <input type="image" src="../resources/img/icons/setaDireita.png" style="width: 80px; height: 80px;" @click="proxima()">
            </div>  
        </div>
       
      </div> 
          <div style="text-align: center; padding-right:40px;" >
              <button type="button" class="btn btn-outline-danger" style="padding: 10px 50px 10px 50px;" onclick="window.location.assign('perfil.html')" >Sair</button>
          </div>
           </div>  -->
          
            <script src="../resources/js/vue.js"></script>
            <script src="../resources/js/axios.min.js"></script>
            <script src="../resources/css/quiz.css" ></script>
            <script src="../resources/js/quiz.js"></script>
            <script src="../resources/js/pages/login.js"></script>
<script>

  
  function abreModal(modal){
    $("#"+modal).modal("show");

  }
function teste(value){
  if(value == 'f'){
    abreModal("modalCerto");
    const audio = document.getElementById('venceu');
    audio.play();
  }
  else {
    abreModal("modalErrado");
    const audio = document.getElementById('perdeu');
    audio.play();

  }
}

let q = new Vue({
    el : '#quest',
    data : {
      pontos: 0,
      lacuna: '',
      countQuestao: 0,  
      items: [
        {
          assunto : '',
          comentarioCorreta: '',
          comentarioErrado: '',
          idQuestao: '',
          idTipoConteudo: '',
          nomeLinguagem: '',
          questao: '',
          respCorreta: '',
          respIncorreta1: '',
          respIncorreta2: '',
          respIncorreta3: '',
          idTipoQuestao: '',
          resposta: ''
        }
      ],
      questaoTipoVF: [
        {
          idQuestao: '',
          idTipoQuestao: '',
          questao: '',
          resposta: '',
          nomeLinguagem: '',
          assunto: ''
        }
      ],
      questaoTipoLacuna: [
        {
          idQuestao: '',
          idTipoQuestao: '',
          questao: '',
          resposta: '',
          respostaAlternativa: '',
          comentarioCorreta: '',
          comentarioIncorreta: '',
          nomeLinguagem: '',
          assunto: ''
        }
      ],
      countQuestaoVF : 0,
      countQuestaoLacuna : 0,
      totalQuestaoMultipla : 0,
      totalQuestaoVF : 0,
      totalQuestaoLacuna : 0,

    },
    created :function(){
        const vm = this;
        vm.pontos = sessionStorage.getItem('pontos');
        vm.getQuestao();
        vm.getQuestaoVF();
        vm.getQuestaoLacuna();
        vm.salvaPontos();
    },
    methods : {
      verificaVF : function(resposta, posicao){
        const vm = this;
        document.getElementById('btVF').style = "visibility: hidden;";

        if(resposta == vm.questaoTipoVF[posicao].resposta){
          document.getElementById('feedback').innerHTML = 'Resposta correta!';
          document.getElementById('feedback').style = "background-color: rgba(63, 191, 104, 0.5);";

          vm.atualizaPontuacao();
        } else {
          document.getElementById('feedback').innerHTML = 'Resposta incorreta. A resposta correta é: '+vm.questaoTipoVF[posicao].resposta;
          document.getElementById('feedback').style = "background-color: rgba(191, 102, 63, 0.5);"
        }
      },
      verificaLacuna : function(resposta, posicao){
        const vm = this;
        if(vm.questaoTipoLacuna[posicao].resposta == resposta || vm.questaoTipoLacuna[posicao].respostaAlternativa == resposta ){
            document.getElementById('feedback').innerHTML = vm.questaoTipoLacuna[posicao].comentarioCorreta;
            document.getElementById('feedback').style = "background-color: rgba(63, 191, 104, 0.5);";
            vm.atualizaPontuacao();
        } else {
            document.getElementById('feedback').innerHTML = vm.questaoTipoLacuna[posicao].comentarioIncorreta;
            document.getElementById('feedback').style = "background-color: rgba(191, 102, 63, 0.5);"
        }
      },
       proxima : function(){
          const vm = this;
          if(vm.totalQuestaoMultipla > vm.countQuestao){
            vm.countQuestao+=1;
          }
          vm.limpaFeed();
        },
        anterior : function(){
          const vm = this;
          if(vm.countQuestao > 0){
            vm.countQuestao-=1;
          }
          vm.limpaFeed();
        },
        proximaVF(){
          const vm = this;
          if(vm.countQuestaoVF < vm.totalQuestaoVF){
            vm.countQuestaoVF+=1;
          }
          vm.limpaFeed();
          document.getElementById('btVF').style = "visibility: visible;";
        },
        anteriorVF(){
          const vm = this;
          if(vm.countQuestaoVF > 0){
            vm.countQuestaoVF-=1;
          }else{
            vm.countQuestao-=1;
          }
          vm.limpaFeed();
          document.getElementById('btVF').style = "visibility: visible;";
        },
        proximaLacuna(){
          const vm = this;
          if(vm.totalQuestaoLacuna > vm.countQuestaoLacuna){
            vm.countQuestaoLacuna+=1;
          }
          vm.limpaFeed();
        },
        anteriorLacuna(){
          const vm = this;
          if(vm.countQuestaoLacuna > 0){
            vm.countQuestaoLacuna-=1;
          }else{
            vm.countQuestaoVF-=1;
          }
          vm.limpaFeed();

        },
        limpaFeed : function(){
          document.getElementById('feedback').style = "background-color: rgba(255, 255, 255, 0);"
          document.getElementById('feedback').innerHTML = ""

        },
        getQuestao : function(){
            const vm = this;
            axios.get('../rs/questao/getQuestao/'+sessionStorage.getItem('level')).then(function(response) {
                vm.items = response.data;
                while(vm.items[vm.totalQuestaoMultipla] != null){
                  vm.totalQuestaoMultipla+=1;
                }
            }).catch(function (error){
                alert("Erro!");
            });
        },
        getQuestaoVF : function(){
            const vm = this;
            axios.get('../rs/questao/getQuestaoVerdadeiroFalso/'+sessionStorage.getItem('level')).then(function(response) {
                vm.questaoTipoVF = response.data;
                while(vm.questaoTipoVF[vm.totalQuestaoVF] != null){
                  vm.totalQuestaoVF+=1;
                }
            }).catch(function (error){
                alert("Erro!");
            });
        },
        getQuestaoLacuna : function(){
            const vm = this;
            axios.get('../rs/questao/getQuestaoLacuna/'+sessionStorage.getItem('level')).then(function(response) {
                vm.questaoTipoLacuna = response.data;
                while(vm.questaoTipoLacuna[vm.totalQuestaoLacuna] != null){
                  vm.totalQuestaoLacuna+=1;
                }
            }).catch(function (error){
                alert("Erro!");
            });
        },
        atualizaPontuacao : function(){
          const vm = this;
          vm.pontos =  vm.pontos + 10;
        },
        salvaPontos : function(){
          const vm = this;
            // axios.get('../rs/user/pontos/', ).then(function(response) {
            //     vm.questaoTipoLacuna = response.data;
            //     while(vm.questaoTipoLacuna[vm.totalQuestaoLacuna] != null){
            //       vm.totalQuestaoLacuna+=1;
            //     }
            // }).catch(function (error){
            //     alert("Erro!");
            // });
        }
    }

});

</script>

</body>
</html>